/* Estilos Customizados */
#hero {
    background: linear-gradient(to right, #007bff, #0056b3);
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9rem;
  }

 .img1 {
    width: 200px
 }